<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <h1 class="text-start mb-3">Calculator</h1>

        <form id="calculator-form">
            <div class="mb-3">
                <input type="number" class="form-control" id="num1" required>
            </div>
            <div class="mb-3">
                <select class="form-select" id="operator" required>
                    <option value="+" selected>+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select>
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="num2" required>
            </div>
            <button type="button" class="btn btn-primary" onclick="calculate()">Calculate</button>

        </form>
        <p class="mt-3 text-danger" style="font-size: large;"><span id="result" ></span></p>
    </div>

    <script>
        function calculate() {
            const num1 = parseFloat(document.getElementById("num1").value);
            const num2 = parseFloat(document.getElementById("num2").value);
            const operator = document.getElementById("operator").value;

            let result = "";
            switch (operator) {
                case "+":
                    result = num1 + num2;
                    break;
                case "-":
                    result = num1 - num2;
                    break;
                case "*":
                    result = num1 * num2;
                    break;
                case "/":
                    if (num2 === 0) {
                        result = "Cannot divide by zero";
                    } else {
                        result = num1 / num2;
                    }
                    break;
                default:
                    result = "Invalid operator";

            }
            document.getElementById("result").textContent = 'Result = ' + result;

        }

    </script>
</body>

</html>