<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/fav.png" type="image/x-icon">
    <title>Web app</title>
    
    <div>
        <a href="index0.html">Home</a>
         | 
         <a href="input.html">Input</a> 
         | 
         <a href="table.html">Table</a> 
        </div>
</head>

<body>
    Hello world
    <h1>Welcome</h1>
    <h4>to class</h4>
    <p>??????</p>
    aaaa <br>
    bbbb
    <p>ccccccc</p>

    <div>
        <a href="table.html"><img src="/public/img/meme.png" alt="meme" width="100px"></a>
        
    </div>

    <img src="/public/img/meme.png" alt="meme" width="100px">

</body>

</html>