<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div>
        <a href="index0.html">Home</a>
         | 
         <a href="input.html">Input</a> 
         | 
         <a href="table.html">Table</a> 
        </div>
</head>

<body>
    Username <input type="text" placeholder="Enter your username">
    <br>
    Password <input type="password">
    <br>
    Year
    <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <br>
    Color
    <input type="checkbox"> red
    <input type="checkbox"> green
    <input type="checkbox"> blue
    <br>
    Gender
    <input type="radio" name="gender"> Female
    <input type="radio" name="gender"> Male
    <br>
    <input type="button" value="Login">
    <button type="button">Reset</button>

    
</body>
</html>