<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div>
        <a href="index.html">Home</a>
         | 
         <a href="login.html">Login</a> 
         
        </div>
</head>
<body>
    <h2>Register</h2>
    Username <br><input type="text">
    <br>Password <br><input type="password">
    <br>Password again <br><input type="password again">
    <br>age <br>
    <input type="radio" name="age"> 20-25
    <input type="radio" name="age"> 26-30
    <input type="radio" name="age"> 31-35
    <p><input type="button" value="Register"></p>
    
</body>
</html>