<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="comtainer-fluid p-4">
        <h1>Registration</h1>

        <form id="registration-form">
            <input type="text" class="form-control mt-3" id="username" placeholder="Enter username" required>
            <input type="password" class="form-control mt-2" id="password" placeholder="Enter password" required>
            <input type="password" class="form-control mt-2" id="confirm-password" placeholder="Re-enter password"
                required>

            <p class="text-primary mt-2" id="captcha-text"></p>

            <input type="number" class="form-control" id="captcha" placeholder="Enter captcha" required>

            <button type="button" class="btn btn-primary mt-3" onclick="register()">Register</button>

            <p class="text-danger mt-3" id="message" style="font-size: large;"></p>
        </form>

    </div>
    <script>
        const captchaNumber = Math.floor(Math.random() * 9000) + 1000;
        document.getElementById("captcha-text").textContent = `Capcha = ${captchaNumber}`;

        function register() {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const confirmpassword = document.getElementById("confirm-password").value;
            const enterCaptcha = parseInt(document.getElementById("captcha").value);

            showError("");
            showSuccess("");

            if (!username) {
                showError("No username and Password do not match and wrong captcha");
            } else if (password !== confirmpassword) {
                showError("Password do not match and wrong captcha");

            } else if (enterCaptcha !== captchaNumber) {
                showError("Wrong captcha");

            } else {
                showSuccess("Registration is complete");
            }

        }
        function showError(message) {
            document.getElementById("message").textContent = message;

        }
        function showSuccess(message) {
            document.getElementById("message").textContent = message;

        }
    </script>
</body>

</html>