<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="shortcut icon" href="/public/img/MFU.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
</head>

<body class="bg-dark">
    <!-- <nav class="navbar navbar-expand-sm bg-dark p-2">
        <div class="container-fluid">
            <span class="navbar text-white fw-bold">
                <h4>
                    Asset Borrowing System
                </h4>
            </span>
        </div>
    </nav> -->
    <div class="container mb-5">
        <div class="row d-flex justify-content-sm-center pt-3">
            <h1 class="text-center text-white">Asset Borrowing System</h1>
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg mt-3 " style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="card-title mb-4 text-center text-uppercase">Sign up</h2>
                        <h6>Create an account</h6>
                        <form>
                            <div class="form-floating mb-4">
                                <input type="text" id="username" class="form-control" />
                                <label for="username">Username</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input type="password" id="password" class="form-control" />
                                <label for="password">Password</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input type="password" id="password" class="form-control" />
                                <label for="password">Repeat Password</label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-success btn-block btn-md">Register</button>
                            </div>

                        </form>

                    </div>
                    <div class="card-footer py-4 border-0">
                        <div class="text-center">Have already an account? <a href="login-project.html"
                                class="fw-bold text-body"><u>Login here</u></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
