<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/public/css/registration.css">
</head>

<body>
    <div class="registration">
        <h4>Registration</h4>
        <div class="user-type">
            <p>User type</p>
            <input type="radio" name="User type"> Admin
            <br>
            <input type="radio" name="User type"> User
        </div>

    </div>
    <div class="register-form">
        Username <br> <input type="text">
        <p>Password <br> <input type="password"></p>
        <p>Re-enter Password <br> <input type="Re-enter Password"></p>
        <button>Register</button>
    </div>

</body>

</html>