<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/css-table.css">
    <title>Table example</title>
    <div>
        <a href="index0.html">Home</a>
         | 
         <a href="input.html">Input</a> 
         | 
         <a href="table.html">Table</a> 
        </div>
</head>

<body>
    <table>
        <tr class="row"><th>ID</th> <th>Name</th> <th>Age</th></tr>  
        <tr><td class="col">1</td> <td class="col">Peter</td> <td class="col">22</td></tr>
        <tr><td class="col">2</td> <td class="col">Lisa</td> <td class="col">25</td></tr>
        <tr><td class="col">3</td> <td class="col">Tony</td> <td class="col">18</td></tr>
    </table>
</body>
</html>